datasets
diffusers
fire
gradio
h5py
huggingface_hub
imageio
jaxtyping
matplotlib
numpy
opencv_python
pandas
Pillow
plyfile
git+https://github.com/facebookresearch/pytorch3d.git@stable
scipy
scikit-image
submitit
torch==2.2.0
torchvision==0.17.0
tqdm
trimesh
wandb
xformers==0.0.24
timm==0.6.7
transformers
accelerate
easydict
git+https://github.com/nerfstudio-project/gsplat.git@v0.1.11